@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  background-color: #1E1E1E;
  color:#E7F6F2;
  font-family: 'Nunito', sans-serif;
}


.outline-input{
  cursor: text;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .5px;
  outline: .1px solid #fff;
}
.outline-input:hover{
  background: rgb(46, 46, 46);
}

.outline-input:focus{
  outline: 3px solid #A5C9CA;
}

@media(min-width:600px){
  .photos{
    margin-inline: 4rem;
  }
}